.content img {
    border: 1px solid #000000;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    background-color: #000;
}

/* .content h3, .content h5 {
    text-align: center;
} */

.ministry {
    margin: 1em 0 1em;
}

.ministry-text {
    margin: 40px 0 40px auto;
    flex: 1;
}

.ministry-text p {
    text-align: justify;
}