@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri-Regular.ttf');
}

@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Amiri';
    src: url('fonts/Amiri-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

body {
    background-image: linear-gradient(to right, /*#f4e7cc*/ #f2d7a0, #faeed4);
    background-attachment: fixed;
    min-width: 100vw;
}

.header {
    display: flex;
    justify-content: center; 
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
    color: rgb(143, 24, 24);
    padding: 1em 0 1em;
}

#logo {
    max-width: 150px;
    height: auto;
}

.title-link {
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.title-link:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.nav {
    background-color: rgb(143, 24, 24);
    box-shadow: 0 10px 10px 4px rgba(10, 10, 10, 0.5);
    width: 100%;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.nav li {
    flex: 1;
    text-align: center;
}

.nav ul a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
    font-size: 20pt;
    padding: 8px 12px;
}

.active-page {
    font-weight: bold;
    background-color:rgb(201, 60, 60)
}

.nav ul a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 
        0 0 5px 5px rgba(255, 255, 255, 0.5) inset,
        -10px 0 5px 5px rgba(255, 255, 255, 0.5),
        10px 0 5px 5px rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.content {
    background-color: #f9f5ef;
    border: 1px solid rgb(143, 24, 24);
    margin: 0;
    padding: 2em;
    box-shadow: -10px 10px 10px 2px rgba(10, 10, 10, 0.5);
}

.content h3, .content h4, .content h5, .content h6, .content strong {
    font-family: 'Amiri', 'Times New Roman', Times, serif;
}

.content h3, .content h4, .content h5, .content h6 {
    font-weight: bold;
}

.content h5 {
    padding-bottom: 1em;
}

.aside {
    text-align: center;
    align-items: center;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.aside p {
    padding-top: 1.5em;
}

.content img {
    padding: auto;
    border: 1px solid black;
}

.content p {
    font-size: 14pt;
}

.content p strong {
    color: rgb(143, 24, 24);
}

.content a {
    font-style: italic;
}

.content a:hover {
    font-family: 'Amiri', 'Times New Roman', Times, serif;
    font-size: 15pt;
}

.footer {
    text-align: center;
    display: flex;
    align-items: center;
    background-color:rgb(143, 24, 24);
    color: #fff;
    font-family: 'Amiri', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-shadow: 
        -10px 10px 10px 2px rgba(10, 10, 10, 0.5),
        0 -10px 10px 2px rgba(10, 10, 10, 0.5);
}